<div class="page-content-container full-page clearfix">

  <div class="full-page-form-container">
    <!-- RESET PASSWORD FORM -->
    <form ng-if="ctrl.mode === ctrl.MODES.RESET" name="resetPasswordForm">
      <h3 ng-if="!ctrl.isInvitationMode">
        {{'Reset Password' | translate }}
      </h3>

      <h4 ng-if="ctrl.isInvitationMode">
        {{'Please Choose a Password:' | translate }}
      </h4>
      <div class="form-group">
        <input id="password" class="form-control"
               placeholder="{{'Password' | translate}}" ng-model="ctrl.resetData.password" type="password" required />
      </div>
      <div class="form-group">
        <input id="confirm" class="form-control" placeholder="{{'Confirm Password' | translate}}"
               ng-model="ctrl.resetData.confirmation" type="password" required />
      </div>
      <button type="submit" ng-disabled="!resetPasswordForm.$valid" class="btn bg-olive btn-block" ng-click="ctrl.resetPassword()">{{'Send' | translate}}</button>
    </form>

    <!-- REQUEST PASSWORD RESET EMAIL FORM -->

    <form ng-if="ctrl.mode === ctrl.MODES.RESET_REQUEST" name="resetPasswordRequestForm">
      <h3 ng-if="!ctrl.isMkResetMode">
        {{'Reset Password' | translate }}
      </h3>
      <h3 ng-if="ctrl.isMkResetMode">
        {{'Welcome mk' | translate }}
      </h3>
      <h4 ng-if="ctrl.isMkResetMode">
        {{'Enter official mk email:' | translate }}
      </h4>
      <div class="form-group">
        <input id="email" class="form-control" placeholder="{{'Email' | translate}}" aria-labelledby="{{'Email' | translate}}"
               ng-model="ctrl.resetRequestData.email" type="email" required />
      </div>

      <button type="submit" ng-disabled="!resetPasswordRequestForm.$valid" class="btn bg-olive btn-block" ng-click="ctrl.requestResetPassword()">{{'Send' | translate}}</button>
    </form>

    <!-- REQUEST EMAIL SENT MESSAGE -->

    <form ng-if="ctrl.mode === ctrl.MODES.RESET_REQUEST_SENT" name="resetPasswordForm">
      <h3>
        {{'Reset password' | translate }}
      </h3>
      <div>
        {{'Reset password email was sent' | translate }}
      </div>
    </form>

    <!-- RESET PROCESS COMPLETED -->

    <form ng-if="ctrl.mode === ctrl.MODES.RESET_COMPLETE" name="resetPasswordForm">
      <h3>
        {{'Reset password' | translate }}
      </h3>
      <div ng-if="!ctrl.loggingIn">
        {{'Reset password process complete' | translate }}
      </div>
      <div ng-if="ctrl.loggingIn" >
        {{'Logging in..' | translate }}
      </div>
      </br>
      <a href="/"> {{'Back to Home Screen' | translate }} </a>
    </form>


  </div>

</div>
