@import "variables";
@import "responsive";

.user-settings {

	header.profile-header {
		background: $primary-color;
		padding: 20px;
		.profile-image {
			float: right;
      .app-ltr & { /* handle ltr case */
        float: left;
      }

			label {
				margin-bottom: 0;
			}

			.photo-wrapper {
				display: inline-block;
				position: relative;

				.change-photo {
					position: absolute;
					width: 100%;
					height: 100%;
					background: #000;
					opacity: 0.7;
					color: #fff;
					top: 0;
					left: 0;
					text-align: center;
					padding-top: 65px;
					font-size: 20px;
					border-radius: 50%;
				}

				.user-avatar {
					width: 160px;
					height: 160px;
					border-radius: 50%;
					border: 10px solid $gray-bg;
				}

				.progress {
					width: 100%;
					background: transparent;
					height: 100%;
					margin: 0;
					border-radius: 50%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			#file_field {
				position: absolute;
				visibility: hidden;
				opacity: 0;
				height: 0;
				width: 0;
			}
		}
		.profile-details {
			float: right;
      .app-ltr & { /* handle ltr case */
        float: left;
      }
			margin: 45px 20px 0 45px;
			color: $white;
			h1 {
				font-size: 52px;
			}
		}

	}

	.user-settings-form-wrapper {
		/*background: $white;*/
		/*padding: 15px 0;*/
		margin-top: 20px;
		background: $white;

		.settings-social {

		}

		.settings-form {
			background: $white;
			padding: 30px;
		}

		form.user-settings-form {

			.inline-frm {
				float: right;
        .app-ltr & { /* handle ltr case */
          float: left;
        }
				padding: 0;
				&:first-child {
					padding-left: 10px;
          .app-ltr & { /* handle ltr case */
            padding-right: 10px;
            padding-left: inherit;
          }
				}
			}

			.button-wrapper {
				margin-top: 30px;
				float: right;
        .app-ltr & { /* handle ltr case */
          float: left;
        }
			}

			.photo-wrapper {
				display: inline-block;
				position: relative;

				.change-photo {
					position: absolute;
					width: 100%;
					height: 100%;
					background: #000;
					opacity: 0.7;
					color: #fff;
					top: 0;
					left: 0;
					text-align: center;
					padding-top: 10px;
					font-size: 20px;
				}

				.user-avatar {
					width: 150px;
					height: 150px;
				}

				.progress {
					width: 100%;
					background: transparent;
					height: 100%;
					margin: 0;
					border-radius: 0;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			.cities-autocomplete-wrapper {
				position: relative;
				z-index: 111;

				.cities-autocomplete-list {
					position: absolute;
					width: 100%;
					max-height: 150px;
					background: $white;
					list-style-type: none;
					overflow-y: auto;
					margin: 0;
					padding: 0;
					right: 0;
					border: 1px solid $gray-middle;

					li {
						padding: 5px;

						&.active {
							background: $light-gray;
							font-weight: 700;
						}
					}
				}
			}

		  	h4 {
		    	margin-top: 10px;
		    	margin-bottom: 10px;
		    	font-weight: bold;
		  	}

		  	.form-checkbox {
		    	float: right;
		    	margin-left: 10px;
		  	}
		}
	}


}


@include media-max($layout-breakpoint-sm) {

	.user-settings {
		.content-feed {
			padding-right: 0;
		}
		header.profile-header {
			padding: 10px;
			text-align: center;
			.profile-image {
				float: none;

				.photo-wrapper {

					.change-photo {
						padding-top: 12px;
						font-size: 14px;
						line-height: 14px;
						display: block !important;
					}

					.user-avatar {
						width: 50px;
						height: 50px;
						border: 3px solid $gray-bg;
					}

					.progress {
					}
				}
				#file_field {
				}
			}
			.profile-details {
				margin: 5px 0 0 0;
				display: block;
				float: none;
				h1 {
					font-size: 32px;
				}
			}

		}


		.user-settings-form-wrapper {

			.settings-form {
				padding: 10px;
			}

			form.user-settings-form {
				.inline-frm {
					&:first-child {
						padding-left: 0px;
					}
				}
			}
		}
	}
}
