/* COLORS */

$white						: #ffffff;
$black						: #000000;
$gray						: #eeeeee;
$light-gray					: #dcdcdc;
$lower-gray					: #fbfbfb;
$dark-gray					: #adadad;

$gray-middle 				: #cccccc;
$comment_highlighted_color 	: #f8fbb6;


/* COLORS - NEW */
$white						: #ffffff;
$black						: #000000;
$red 						: #ff5555;
$orange 					: #f19138;
$green 						: #0d8f4f;
$hover-green 						: #4cb050;
$dark-green 						: #0a8043;
$light-blue 				: #0f97c7;
$blue-hover 				: rgba(0, 109, 189, 0.80);
$blue 						: #006DBD;
$gray-text 					: #999999;
$gray-borders 				: #f0f0f0;
$gray-bg					: #f1f1f1;
$gray-buttons				: #dddddd;
$yellow 					: #f9d069;

$primary-color 				: #49aca2;
$dark-primary-color 				: #03988a;
$hover-primary-color 				:  #6ec1b9;
/* SIZES */
$desktop-max-width 			: 1200px;
$desktop-min-width 			: 1024px;
$header-height: 70px;
