<div class="page-content-container clearfix">
  <div class="hidden-xs col-sm-2 nav-side-bar">
    <site-navigation></site-navigation>
  </div>
	<div class="col-sm-10 col-xs-12 static-pages" role="main">
		<section class="main-static-section">
			<p class="highlighted">
				ePart הוא סטארט-אפ חברתי, שמחבר את האזרחים ישירות אל הנבחרים שלהם, מקצר את המרחק בין המקום בו הם נמצאים לכנסת ישראל, לרשות המקומית שלהם או לממשלה ונותן להם את היכולת להשפיע.
			</p>
			<p>
				אנחנו פועלים מתוך מטרה חברתית. אנחנו שואפים לחזק את הדמוקרטיה ואת המעורבות האזרחית, אבל אנחנו לא עמותה. אנחנו משתמשים בטכנולוגיה, ופועלים מתוך מודל כלכלי – אבל אנחנו לא עוד סטארט-אפ. אנחנו משהו באמצע. באמריקה קוראים לזה Civic Startup. בעברית זה נשמע יותר טוב.
			</p>
			<div class="divider"></div>
			<h2>מה אנחנו עושים</h2>
			<p>
				ePart רואה עצמו כגשר בין היכולת הטכנולוגית הקיימת לבין הצורך החברתי; ePart הופך את המידע לנגיש, ידידותי למשתמש, פתוח ושקוף, מאפשר לאזרח להתעדכן בנושאים שמעניינים אותו – ובהם בלבד – ולהגיב באופן פשוט ומהיר, להשמיע את דעתו, להשתתף, לשתף – ולהשפיע. הוא מקצר את המרחק בין האזרח לבין נבחר הציבור שלו, מציב אותו בתוך משכן הכנסת – אבל מבלי לנסוע לירושלים, בתוך חדרי הוועדות – אבל מבלי להשתעמם מישיבות אינסופיות ומתישות. להשפיע על עתידו – גם בלי להיות חתום על חוקים. התהליך הדמוקרטי כולו יהפוך כך לשוויוני יותר, והדיון הציבורי למעמיק ורציני יותר. קבלת ההחלטות של נבחרי הציבור תתבסס על התמונה המלאה והמקיפה מכולן – חוכמת ההמונים.
			</p>
			<h2>למי אנחנו פונים</h2>
			<p>
				על ידי דיווח מאוזן ונטול פניות, וממשק טכנולוגי נגיש וישיר, ePart מאפשר למגוון אוכלוסיות רחב, מכל גווני הקשת הישראלית, לקחת חלק בדיון, כדי ליצור קהילה של רעיונות – ולא של מפלגות וקבוצות, ולתת להם כלי יעיל וישיר לפנות אל הנבחרים ולהשפיע על החוקים שחשובים להם, בכל תחום עניין שהוא. כן, הכוונה גם אליך.
			</p>
		</section>
	</div>

</div>
