<form name="form" class="epart-admin-form admin-post-form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa" ng-class="{'fa-arrow-left' : appDirection === 'ltr', 'fa-arrow-right' : appDirection === 'rtl'}"></i></a>
      <span ng-show="!ctrl.user.id" translate>Add a new user</span>
      <span ng-show="ctrl.user.id" translate>Edit user</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger" ng-if="addError" translate>Could not add user!</div>
          <formly-form model="ctrl.user" fields="ctrl.formFields" options="ctrl.formOptions"></formly-form>
          <label for="roleSelect">{{'User Role' | translate}} *</label>
          <ui-select required id="roleSelect" multiple  ng-model="ctrl.selectedRoles">
            <ui-select-match>{{ctrl.USER_ROLES_TEXTS[$item.name]}}</ui-select-match>
            <ui-select-choices repeat="role in ctrl.roles | propsFilter: {name: $select.search}">
              <div ng-bind-html="ctrl.USER_ROLES_TEXTS[role.name]  | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <div ng-show="ctrl.UserService.hasRole(ctrl.selectedRoles,'mk')">
            <label for="committees" translate>Committees</label>
            <ui-select id="committees" multiple  ng-model="ctrl.user.committees" title="Choose a committee">
              <ui-select-match placeholder="{{'Select a Committee' | translate}}">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="category in ctrl.committees | propsFilter: {name: $select.search}">
                <div ng-bind-html="category.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <media-upload-input label="'Image' | translate" update-model="ctrl.user" update-property="'imageUrl'" ></media-upload-input>
          <button ng-if="ctrl.inEditMode" class="btn btn-primary btn-success" ng-click="ctrl.sendInvitation()" translate>
            Send invitation
          </button>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary btn-success" ng-click="ctrl.submit()" ng-disabled="form.$invalid">
       {{'Submit' | translate}}
      </button>
      <button type="button" class="btn btn-default" ng-click="ctrl.formOptions.resetModel()">{{ 'Reset' | translate }} </button>
    </div>
  </div>
</form>
