<div class="page-content-container clearfix">
  <div class="hidden-xs col-sm-2 nav-side-bar">
    <site-navigation></site-navigation>
  </div>
  <div class="col-sm-10 col-xs-12 static-pages" role="main">
    <section class="main-static-section">
      <div ng-repeat="section in ctrl.sections" ng-hide="section.hide">
        <h2>{{section.title}}</h2>
        <p ng-bind-html="section.content | unsafeHtml">
        </p>
      </div>
      <h2>
        {{'The Team' | translate}}
      </h2>
      <ul class="team-list clearfix">
        <li ng-repeat="member in ctrl.teamMembers">
          <div class="team-member">
            <img alt="" alt="" ng-src="{{member.imgSrc}}">
            <h3>
              {{member.title}}
            </h3>
          </div>
          <p ng-bind-html="member.description | unsafeHtml">
          </p>
        </li>

      </ul>
    </section>
  </div>
</div>
