<!--<header class="header">
  <a class="logo" href="/">{{ getSetting('appName') }}</a>
  <navbar></navbar>
</header>
<br/>
<br/>-->
<div class="admin-dashboard">
  <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
      <section class="sidebar">
        <ul class="sidebar-menu">
          <li ng-repeat="item in menuoptions" ui-sref-active="active">
            <a class="" href="" ui-sref="{{item.sref}}"><i class="fa fa-fw {{item.icon}}"></i> {{item.name | translate}}</a>
          </li>
        </ul>
      </section>
    </aside>
    <aside ui-view class="right-side at-view-fade-in at-view-fade-out">

    </aside>
  </div>
</div>
